div.container {
  background: linear-gradient(to bottom, #ffcc5e, #ffa945);
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
}
div.homePage {
  background-color: white;
  width: 60vw;
  height: 60vh;
  margin: auto;
  position: relative;
  top: 5rem;
  border-radius: 8px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
div.header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #acacac;
}
div.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
div.header div.logo p {
  margin: 0;
  font-size: 1.5rem;
}
div.header div.logo span.sss {
  border-radius: 100%;
  font-size: 1.2rem;
  background-color: #f16018;
  color: #ffffff;
  width: 2rem;
  height: 2rem;
}
div.homePage p.pp1 {
  text-align: left;
  margin: 1rem 2rem;
  font-size: 1.5rem;
}
div.homePage div.btnNextAndPrevious {
  position: relative;
  top: 3vh;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
div.homePage div.btnNextAndPrevious button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
div.homePage div.btnNextAndPrevious button:hover {
  background-color: rgb(98, 98, 255);
  color: rgb(255, 255, 255);
}
div.movieList {
  padding: 1rem 2rem;
  display: flex;
  gap: 2rem;
  overflow: hidden;
}
